<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Font1&family=Font2&display=swap" rel="stylesheet">
	<link href="/styles.css" rel="stylesheet" media="all" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>flash messages</title>
</head>

<body id="b1">
	<h1><%= @title %></h1>
	<p><%= @message %></p>
	<br>
	<br>	
	<br>

	<p><a href="/"><%= @name_page %></a></p>


</body>
</html>