<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title></title>

</head>

  <body style="background-color: silver;">

	<h1 style="text-align: center;">Welcome to Barber Shop!</h1>
  <p style="text-align: center;">We are open</p><br>

  </body>
</html>