/*Comment!*/

body  {font-family: Old Standard TT; background-color: silver;}
body#b1  {font-family: Old Standard TT; background-color: Lavender;}
body#b2  {font-family: Old Standard TT; background-color: MintCream;}
h1    {text-align: center;}
p     {text-align: center; font-size:30px;}
form  {text-align: center;}
a     {text-align: center; color:gray;}
table, tr, td {align: center; border: 1px solid Grey;}